# =========================
# Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.env.*

!.env.example

# =========================
# Secrets
# =========================
secrets.json

# =========================
# Python
# =========================
__pycache__